@using Radzen;
@using Radzen.Blazor.Rendering;
@inject LogModel _logModel;

<RadzenPanel class="rz-my-1 rz-mx-1" Style="width:calc(100% - 30px);height:100%; word-wrap:normal;">
    <HeaderTemplate>
        <RadzenText TextStyle="TextStyle.H6">Log</RadzenText>
    </HeaderTemplate>

    <ChildContent>    
        <div class="rz-color-success-dark rz-background-color-black" style="height:82vh;overflow:auto">
            <pre style="white-space: pre-wrap; word-wrap: break-word;">
                @_logModel.Log
            </pre>
        </div>
    </ChildContent>
</RadzenPanel>
